/build
*.iml
.gradle
build
androids/build/*
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/*
build/*
/build/*
utilcode/src/test/res/zip/testDir
utilcode/src/test/res/zip/测试文件夹
utilcode/src/test/res/image/ic_launcher.gif
